*{
    
}

h1 {
    text-align: center;
    color: white;
}

header {
    background-color: #0054A4;
}

.header-container {
    display: flex;
    align-items: center; /* Aligns the items vertically in the middle */
    gap: 20px; /* Adds space between the image and the H1 */
}

.header-container img {
    width: 50px; /* Adjust size as needed */
    height: auto;
}

